<div class="container">

  <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="hero-unit">
    <h1><%= role.name %></h1>
  </div>

  <div>
    <div id="editProperties">
      <form name="editRole" id="editRole" action="/editRole" method="post" enctype="multipart/form-data">
        <div class="control-group">
          <label class="control-label" for="description">
            <h2>Description</h2>
          </label>
          <br />
          <% if (role.description) { %>
          <textarea class="input-xlarge" name="description" id="description"><%= role.description %></textarea>
          <% } else { %>
          <textarea class="input-xlarge" name="description" id="description"></textarea>
          <% } %>
        </div>

        <div class="control-group">
          <label for="roleImage" class="control-label">
            <h2>Image</h2>
          </label>
          <br />

          <input type="file" class="input-file" name="image" id="image" />
        </div>

        <input type="hidden" id="name" name="name" value="<%= role.name %>" />
        <% if (role.RowKey) { %>
        <input type="hidden" id="RowKey" name="RowKey" value="<%= role.RowKey %>" />
        <% } %>

        <% if (role.PartitionKey) { %>
        <input type="hidden" id="PartitionKey" name="PartitionKey" value="<%= role.PartitionKey %>" />
        <% } %>

        <div class="form-actions">
          <input type="submit" class="btn btn-primary" value="Submit"></input>
          <a class="btn" href="/role/<%= role.name %>">Cancel</a>
        </div>
      </form>
    </div>
  </div>
</div> <!-- /container -->